<h1>Add new Book</h1>
<hr />
<form action="/books/" method="POST" enctype="multipart/form-data">
  <%- include('./_form-inputs.ejs') %>
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>

<div class="error"><% if(error){ %> <%= error %> <% }%></div>
