<header>
  <nav>
    <a href="/">popLibrary</a>
    <ul>
      <li><a href="/authors/">All Authors</a></li>
      <li><a href="/authors/new">Add new Author</a></li>
      <li><a href="/books/">All Books</a></li>
      <li><a href="/books/new">Add new Book</a></li>
    </ul>
  </nav>
</header>
