<!-- For highlight the li in the navabar -->
<% activeNow = "home" %>

<h1>Recently Added Books</h1>
<hr />
<!-- Display the books details -->
<%- include('./partials/books-grid.ejs', {books: recentlyBooks}) %>
