<h1>Home page Library</h1>
<hr />
<!-- Display the books details -->
<% recentlyBooks.map((book) => { %>
<div class="book">
  <h2><%= book.title %></h2>
  <% if(book.imgPath) {%>
  <img src="<%= book.imgPath %>" width="100" height="150" />
  <li>Date: <%= book.publishDate %></li>
  <%} %>
</div>
<% }) %>
