<% activeNow = undefined %>

<form class="special-form" action="/users/login" method="POST">
  <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
  <div class="form-row">
    <div class="form-field" style="flex-basis: 100%">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter Email"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-field" style="flex-basis: 100%">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Enter Password"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="btns-group-right">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
  </div>
  <p>No Account? <a href="/users/register">Register</a></p>
</form>
