:root {
  --btn-primary-bg: #0e7cc5;
  --btn-danger-bg: #e02121;
}
.btn {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  border: 1px solid black;
  font-size: 25px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: mainFont, sans-serif;
  color: var(--bg-dark-color);
}

.btn-primary {
  background-color: var(--btn-primary-bg);
  color: #fff;
}

.btn-danger {
  background-color: var(--btn-danger-bg);
  color: #fff;
}

.btn-show {
  background-color: var(--text-light);
}
