<!-- For highlight the li in the navabar -->
<% activeNow = "newAuthor" %>

<h1>Add new Author</h1>
<form action="/authors" method="post" class="special-form">
  <%- include('./_form-inputs.ejs') %>
  <div class="btns-group-right">
    <button type="submit" class="btn btn-primary">Add</button>
    <a href="/authors" class="btn btn-danger">Cancel</a>
  </div>
</form>
