<h2>Author Details</h2>
<hr />
<h3><%= author.name %></h3>
<a href="/authors/<%= author._id %>/edit">Edit</a>
<%- include('../partials/deleteForm.ejs', {url:
`/authors/${author.id}?_method=DELETE`}) %>

<hr />
<h3>Books By the Author</h3>
<% authorBooks.map(book => { %>
<img src="<%= book.imgPath %>" width="100" height="150" />
<% }) %>
