<h2>Author Details</h2>
<hr />
<h3><%= author.name %></h3>
<a href="/authors/<%= author._id %>/edit" class="btn btn-primary">Edit</a>
<%- include('../partials/deleteForm.ejs', {url:
`/authors/${author.id}?_method=DELETE`}) %>

<hr />
<h3>Books By the Author</h3>
<!-- Show Author Books -->
<% if(authorBooks.length) {%>
 <%- include('../partials/books-grid.ejs', {books:authorBooks}) %> 
 <% } else{%>
<div class="error">There is No Books For this Author</div>
<% } %>
